@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,100&display=swap');

.apiInput {
  width: 100%;
  margin-right: 10px;
}

.mainSection {
  width: 100%;
  display: flex;
  justify-content: center;
}

.methodName {
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;
  margin: 10px;
}

.btn {
  display: inline-block;
  /* padding: 0.35em 1.2em; */
  border: 0.1em solid black;
  /* margin: 0 0.3em 0.3em 0; */
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  border-radius: 0.12em;
}

.btn:hover {
  color: black;
  background-color: #ffcc01;
}
